// **COLORS**
$text-color: rgb(62, 65, 64);
$dark-color: #111;
$light-color: #fff;
$theme-color: #F9F940;
$secondary-color: #F50CA0;
$ternary-color: #43DDE2;
$link-color: $secondary-color;
$menu-item-color: white;
//** FONTS **
$logo-font: 'Josefin Sans',
Georgia,
sans-serif;
$headline-font: 'Marcellus',
"Time New Roman",
serif;
$text-font: 'Montserrat',
serif;
// ** SIZES **
$header-height: 60px;
$content-width: 960px;
$footer-height: 90px;