// **COLORS**
$text-color: black;
$theme-color: violet;
$secondary-color: orange;
$ternary-color: yellow;
$link-color: $secondary-color;
$menu-item-color: white;
//** FONTS **
$logo-font: 'Josefin Sans',
Georgia,
sans-serif;
$headline-font: "Palatino Linotype",
"Time New Roman",
serif;
$text-font: 'Cinzel',
serif;
// ** SIZES **
$header-height: 60px;
$content-width: 960px;
$footer-height: 90px;