//=== IMPORT ===//
@import 'variables';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; // outline: 1px solid red;
}

.navbar-color {
  background-color: $secondary-color;
  color: $theme-color;
}

li {
  a {
    color: $theme-color;
    font-family: $logo-font;
  }
}

////HOME PAGE////
.marahuyo-header {
  margin-top: 3.7vh;
}

.marahuyo-logo {
  font-family: $logo-font;
  font-size: 8rem;
  color: $secondary-color
}

.marahuyo-tagline {
  font-family: $text-font;
  font-size: 3vh;
}

.header-divider {
  border-color: red;
  border-width: 1.9px;
} ////BLOG POST////
.blog-post {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.date-post {
  font-size: 2em;
  color: $text-color;
}

.title-post {
  font-size: 2.5em;
  margin-bottom: 50px;
  font-family: $headline-font;
  color: $text-color;
}

.blogpost-divider {
  border-width: 1px;
  border-color: $secondary-color;
}

/////TESTING////
body.neon-mode {
  background-color: $theme-color;
  .navbar-color {
    background-color: $secondary-color;
    color: $theme-color;
  }
  li {
    a {
      color: $theme-color;
      font-family: $logo-font;
    }
  }
  .marahuyo-logo {
    color: $secondary-color
  }
  .header-divider {
    border-color: red;
  }
  .date-post {
    color: $text-color;
  }
  .title-post {
    color: $text-color;
  }
  .blogpost-divider {
    border-color: $secondary-color;
  }
}

body.light-mode {
  background-color: $light-color;
  .navbar-color {
    background-color: $light-color;
    color: $dark-color;
  }
  li {
    a {
      color: $dark-color;
      font-family: $logo-font;
    }
  }
  .marahuyo-logo {
    color: $dark-color;
    text-transform: lowercase;
    @media (max-width: 575.98px) {
      font-size: 4em;
    }
  }
  .header-divider {
    border-color: $dark-color;
  }
  .date-post {
    color: $text-color;
  }
  .title-post {
    color: $text-color;
  }
  .blogpost-divider {
    border-color: $dark-color;
  }
  .slider:before {
    background-color: $light-color;
  }
}

////END TESTING///
////TESTING 2 SWITCH////
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $secondary-color;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $theme-color;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: $dark-color;
}

input:focus+.slider {
  box-shadow: 0 0 1px $light-color;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

////END TESTING 2////
.color-switch {
  display: flex;
  justify-content: flex-end;
}

/*media queries*/

/*Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
  .marahuyo-header {
    margin-top: 3vh;
  }
  .marahuyo-logo {
    font-family: $logo-font;
    font-size: 2.6em;
  }
  .marahuyo-tagline {
    font-family: $text-font;
    font-size: 1.2em;
  } ////BLOG POST////
  .blog-post {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .date-post {
    font-size: 1.2em;
  }
  .title-post {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {}

/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
  .marahuyo-header {
    margin-top: 3.6vh;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}