//=== IMPORT ===//
@import 'variables';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  outline: 1px solid red;
}

/*media queries*/

/*Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
  .marahuyo-header {
    margin-top: 3vh;
  }
  header {
    h1 {
      font-family: $logo-font;
      font-size: 3.4rem;
    }
    marquee {
      font-family: $text-font;
      font-size: 1.2rem;
    }
  }
  .blog-post {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {}

/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {}

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
  .marahuyo-header {
    margin-top: 3.7vh;
  }
  header {
    h1 {
      font-family: $logo-font;
      font-size: 8rem;
    }
    marquee {
      font-family: $text-font;
      font-size: 2.5rem;
    }
  }
  .blog-post {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1vh;
    .date-post {
      font-size: 1.2rem;
    }
    .title-post {
      font-size: 2rem;
    }
  }
}