* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-color {
  background-color: #F50CA0;
  color: #F9F940;
}

li a {
  color: #F9F940;
  font-family: "Josefin Sans", Georgia, sans-serif;
}

.marahuyo-header {
  margin-top: 3.7vh;
}

.marahuyo-logo {
  font-family: "Josefin Sans", Georgia, sans-serif;
  font-size: 8rem;
  color: #F50CA0;
}

.marahuyo-tagline {
  font-family: "Cinzel", serif;
  font-size: 3vh;
}

.header-divider {
  border-color: red;
  border-width: 1.9px;
}

.blog-post {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.date-post {
  font-size: 2em;
  color: #3e4140;
}

.title-post {
  font-size: 2.5em;
  margin-bottom: 50px;
  font-family: "Palatino Linotype", "Time New Roman", serif;
  color: #3e4140;
}

.blogpost-divider {
  border-width: 1px;
  border-color: #F50CA0;
}

body.dark-mode {
  background-color: #F9F940;
}
body.dark-mode .navbar-color {
  background-color: #F50CA0;
  color: #F9F940;
}
body.dark-mode li a {
  color: #F9F940;
  font-family: "Josefin Sans", Georgia, sans-serif;
}
body.dark-mode .marahuyo-logo {
  color: #F50CA0;
}
body.dark-mode .header-divider {
  border-color: red;
}
body.dark-mode .date-post {
  color: #3e4140;
}
body.dark-mode .title-post {
  color: #3e4140;
}
body.dark-mode .blogpost-divider {
  border-color: #F50CA0;
}

body.light-mode {
  background-color: #fff;
}
body.light-mode .navbar-color {
  background-color: #fff;
  color: #111;
}
body.light-mode li a {
  color: #111;
  font-family: "Josefin Sans", Georgia, sans-serif;
}
body.light-mode .marahuyo-logo {
  color: #111;
  text-transform: lowercase;
}
@media (max-width: 575.98px) {
  body.light-mode .marahuyo-logo {
    font-size: 4em;
  }
}
body.light-mode .header-divider {
  border-color: #111;
}
body.light-mode .date-post {
  color: #3e4140;
}
body.light-mode .title-post {
  color: #3e4140;
}
body.light-mode .blogpost-divider {
  border-color: #111;
}
body.light-mode .slider:before {
  background-color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F50CA0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #F9F940;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #111;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.color-switch {
  display: flex;
  justify-content: flex-end;
}

/*media queries*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .marahuyo-header {
    margin-top: 5vh;
  }

  .marahuyo-logo {
    font-family: "Josefin Sans", Georgia, sans-serif;
    font-size: 2.6em;
  }

  .marahuyo-tagline {
    font-family: "Cinzel", serif;
    font-size: 1.2em;
  }

  .blog-post {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .date-post {
    font-size: 1.2em;
  }

  .title-post {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
}
/*Small devices (landscape phones, 576px and up)*/
/*Medium devices (tablets, 768px and up)*/
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .marahuyo-header {
    margin-top: 3.6vh;
  }
}
/*Extra large devices (large desktops, 1200px and up)*/

/*# sourceMappingURL=style.css.map */
